<body>
  <div class="banner">
  </div>

  <div class="container">
    <div class="card card-create">
      <h2><%= @list.name %></h2>
      <ul>
        <% @list.bookmarks.each do |bookmark| %>
          <li><strong><%= bookmark.movie.title %></strong> - <em><%= bookmark.comment %></em></li>
        <% end %>
      </ul>
      <%= link_to new_list_bookmark_path(@list) do%>
        <div class="btn btn-primary">
          Add new bookmark
        </div>
      <% end %>
    </div>
    <div >
        <h4><%= link_to "Go back to lists", lists_path %></h4>
      </div>
  </div>
</body>
